* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100%;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #000;
}

h1 {
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
