.Hero {
  position: relative;

  .swiper-image {
    width: 100%;
  }
  .swiper-slide {
    text-decoration: none !important;
    width: auto;
    h1 {
      color: #fff;
      position: relative;
      top: -250px;
      max-width: 600px;
      margin-left: 55px;
      padding: 10px;
      background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
  }
}
